<form id="settings-form" hx-put="/settings" class="card-body" hx-target="#result" hx-swap="innerHTML">
    <h4>Settings</h4>
    <label class="form-label">URL</label>
    <input name="url" type="text" class="form-control" placeholder="Enter your Ollama / Llamafile URL" value="{{.URL}}">
    <br>

    <label class="form-label">LLM</label>
    <input name="llm" type="text" class="form-control" placeholder="Enter your LLM name" value="{{.LLM}}">
    <br>

    <label class="form-label">Embedding Model</label>
    <input name="embedding" type="text" class="form-control" placeholder="Enter your embedding model name"
        value="{{.Embedding}}">
    <br>

    <button type="submit" class="btn btn-primary">Save</button>
</form>
<div id="result"></div>